In [1]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

In [2]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'foodie_fi'
ORDER BY 1

 * postgresql://postgres:***@localhost/sql_challenge
6 rows affected.

[('plans', 'plan_id', 'integer'),
 ('plans', 'price', 'numeric'),
 ('plans', 'plan_name', 'character varying'),
 ('subscriptions', 'customer_id', 'integer'),
 ('subscriptions', 'plan_id', 'integer'),
 ('subscriptions', 'start_date', 'date')]

In [3]:
%%sql
SELECT *
FROM foodie_fi.subscriptions
ORDER BY start_date DESC
LIMIT 10

 * postgresql://postgres:***@localhost/sql_challenge
10 rows affected.

[(975, 3, datetime.date(2021, 4, 30)),
 (472, 3, datetime.date(2021, 4, 30)),
 (83, 3, datetime.date(2021, 4, 29)),
 (776, 3, datetime.date(2021, 4, 29)),
 (59, 4, datetime.date(2021, 4, 29)),
 (219, 3, datetime.date(2021, 4, 29)),
 (42, 2, datetime.date(2021, 4, 28)),
 (90, 3, datetime.date(2021, 4, 28)),
 (424, 4, datetime.date(2021, 4, 28)),
 (780, 3, datetime.date(2021, 4, 27))]

In [4]:
%%sql
SELECT *
FROM foodie_fi.plans

 * postgresql://postgres:***@localhost/sql_challenge
5 rows affected.

[(0, 'trial', Decimal('0.00')),
 (1, 'basic monthly', Decimal('9.90')),
 (2, 'pro monthly', Decimal('19.90')),
 (3, 'pro annual', Decimal('199.00')),
 (4, 'churn', None)]

Based off the 8 sample customers provided in the sample from the subscriptions table, write a brief description about each customerâ€™s onboarding journey.

Try to keep it as short as possible - you may also want to run some sort of join to make your explanations a bit easier!

In [5]:
%%sql
SELECT * 
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
ORDER BY customer_id, start_date
LIMIT 20

 * postgresql://postgres:***@localhost/sql_challenge
20 rows affected.

[(0, 1, datetime.date(2020, 8, 1), 'trial', Decimal('0.00')),
 (1, 1, datetime.date(2020, 8, 8), 'basic monthly', Decimal('9.90')),
 (0, 2, datetime.date(2020, 9, 20), 'trial', Decimal('0.00')),
 (3, 2, datetime.date(2020, 9, 27), 'pro annual', Decimal('199.00')),
 (0, 3, datetime.date(2020, 1, 13), 'trial', Decimal('0.00')),
 (1, 3, datetime.date(2020, 1, 20), 'basic monthly', Decimal('9.90')),
 (0, 4, datetime.date(2020, 1, 17), 'trial', Decimal('0.00')),
 (1, 4, datetime.date(2020, 1, 24), 'basic monthly', Decimal('9.90')),
 (4, 4, datetime.date(2020, 4, 21), 'churn', None),
 (0, 5, datetime.date(2020, 8, 3), 'trial', Decimal('0.00')),
 (1, 5, datetime.date(2020, 8, 10), 'basic monthly', Decimal('9.90')),
 (0, 6, datetime.date(2020, 12, 23), 'trial', Decimal('0.00')),
 (1, 6, datetime.date(2020, 12, 30), 'basic monthly', Decimal('9.90')),
 (4, 6, datetime.date(2021, 2, 26), 'churn', None),
 (0, 7, datetime.date(2020, 2, 5), 'trial', Decimal('0.00')),
 (1, 7, datetime.date(2020, 2, 12), 'basic monthly', Decimal('9.90')),
 (2, 7, datetime.date(2020, 5, 22), 'pro monthly', Decimal('19.90')),
 (0, 8, datetime.date(2020, 6, 11), 'trial', Decimal('0.00')),
 (1, 8, datetime.date(2020, 6, 18), 'basic monthly', Decimal('9.90')),
 (2, 8, datetime.date(2020, 8, 3), 'pro monthly', Decimal('19.90'))]

In [17]:
%%sql
SELECT * FROM(
    SELECT *, ROW_NUMBER () OVER(PARTITION BY customer_id  ORDER BY start_date DESC)
    FROM foodie_fi.subscriptions
    JOIN foodie_fi.plans
    USING(plan_id)
    WHERE customer_id BETWEEN 1 and 8
    ORDER BY customer_id, start_date)   t1
WHERE row_number = 1
and plan_name != 'churn'

 * postgresql://postgres:***@localhost/sql_challenge
6 rows affected.

[(1, 1, datetime.date(2020, 8, 8), 'basic monthly', Decimal('9.90'), 1),
 (3, 2, datetime.date(2020, 9, 27), 'pro annual', Decimal('199.00'), 1),
 (1, 3, datetime.date(2020, 1, 20), 'basic monthly', Decimal('9.90'), 1),
 (1, 5, datetime.date(2020, 8, 10), 'basic monthly', Decimal('9.90'), 1),
 (2, 7, datetime.date(2020, 5, 22), 'pro monthly', Decimal('19.90'), 1),
 (2, 8, datetime.date(2020, 8, 3), 'pro monthly', Decimal('19.90'), 1)]

In [6]:
%%sql
SELECT * 
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
ORDER BY customer_id, start_date
LIMIT 20

 * postgresql://postgres:***@localhost/sql_challenge
20 rows affected.

[(0, 1, datetime.date(2020, 8, 1), 'trial', Decimal('0.00')),
 (1, 1, datetime.date(2020, 8, 8), 'basic monthly', Decimal('9.90')),
 (0, 2, datetime.date(2020, 9, 20), 'trial', Decimal('0.00')),
 (3, 2, datetime.date(2020, 9, 27), 'pro annual', Decimal('199.00')),
 (0, 3, datetime.date(2020, 1, 13), 'trial', Decimal('0.00')),
 (1, 3, datetime.date(2020, 1, 20), 'basic monthly', Decimal('9.90')),
 (0, 4, datetime.date(2020, 1, 17), 'trial', Decimal('0.00')),
 (1, 4, datetime.date(2020, 1, 24), 'basic monthly', Decimal('9.90')),
 (4, 4, datetime.date(2020, 4, 21), 'churn', None),
 (0, 5, datetime.date(2020, 8, 3), 'trial', Decimal('0.00')),
 (1, 5, datetime.date(2020, 8, 10), 'basic monthly', Decimal('9.90')),
 (0, 6, datetime.date(2020, 12, 23), 'trial', Decimal('0.00')),
 (1, 6, datetime.date(2020, 12, 30), 'basic monthly', Decimal('9.90')),
 (4, 6, datetime.date(2021, 2, 26), 'churn', None),
 (0, 7, datetime.date(2020, 2, 5), 'trial', Decimal('0.00')),
 (1, 7, datetime.date(2020, 2, 12), 'basic monthly', Decimal('9.90')),
 (2, 7, datetime.date(2020, 5, 22), 'pro monthly', Decimal('19.90')),
 (0, 8, datetime.date(2020, 6, 11), 'trial', Decimal('0.00')),
 (1, 8, datetime.date(2020, 6, 18), 'basic monthly', Decimal('9.90')),
 (2, 8, datetime.date(2020, 8, 3), 'pro monthly', Decimal('19.90'))]

1. How many customers has Foodie-Fi ever had?

In [7]:
%%sql
SELECT COUNT(DISTINCT customer_id)
FROM foodie_fi.subscriptions

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[(1000,)]

2. What is the monthly distribution of trial plan start_date values for our dataset - use the start of the month as the group by value

In [16]:
%%sql
SELECT plan_name, TO_CHAR(start_date, 'Month') as month, COUNT(*) as number
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
WHERE plan_name = 'trial'
GROUP BY plan_name, TO_CHAR(start_date, 'Month')
ORDER BY number DESC

 * postgresql://postgres:***@localhost/sql_challenge
12 rows affected.

[('trial', 'March    ', 94),
 ('trial', 'July     ', 89),
 ('trial', 'May      ', 88),
 ('trial', 'January  ', 88),
 ('trial', 'August   ', 88),
 ('trial', 'September', 87),
 ('trial', 'December ', 84),
 ('trial', 'April    ', 81),
 ('trial', 'October  ', 79),
 ('trial', 'June     ', 79),
 ('trial', 'November ', 75),
 ('trial', 'February ', 68)]

3. What plan start_date values occur after the year 2020 for our dataset? Show the breakdown by count of events for each plan_name

In [22]:
%%sql
SELECT plan_name, EXTRACT(YEAR FROM start_date) as year, COUNT(*) as number
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
WHERE start_date > '2020-12-31'
GROUP BY plan_name, year
ORDER BY number DESC

 * postgresql://postgres:***@localhost/sql_challenge
4 rows affected.

[('churn', Decimal('2021'), 71),
 ('pro annual', Decimal('2021'), 63),
 ('pro monthly', Decimal('2021'), 60),
 ('basic monthly', Decimal('2021'), 8)]

4. What is the customer count and percentage of customers who have churned rounded to 1 decimal place?

In [40]:
%%sql
SELECT
ROUND((
    SELECT COUNT (DISTINCT customer_id)
    FROM foodie_fi.subscriptions
    JOIN foodie_fi.plans
    USING(plan_id)
    WHERE plan_name = 'churn')::DECIMAL / 
(SELECT COUNT(DISTINCT customer_id)
    FROM foodie_fi.subscriptions)::DECIMAL *100,1) AS percentage_churn

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[(Decimal('30.7'),)]

In [41]:
%%sql
SELECT 
    ROUND(
        (COUNT(DISTINCT CASE WHEN plan_name = 'churn' THEN customer_id END)::DECIMAL / 
         COUNT(DISTINCT customer_id)::DECIMAL) * 100,
    1) AS percentage_churn
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans USING (plan_id);

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[(Decimal('30.7'),)]

5. How many customers have churned straight after their initial free trial - what percentage is this rounded to the nearest whole number?

In [60]:
%%sql
SELECT
    ROUND(
    (SUM(CASE WHEN row_number = 2 AND price IS NULL THEN 1 END)::DECIMAL/
    COUNT(DISTINCT customer_id):: DECIMAL) *100,
    1) AS percentage_churned_immidiately 
FROM (
    SELECT  *, 
            ROW_NUMBER () OVER(PARTITION BY customer_id  ORDER BY start_date)
    FROM foodie_fi.subscriptions
    JOIN foodie_fi.plans
    USING(plan_id)) t1

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[(Decimal('9.2'),)]

6. What is the number and percentage of customer plans after their initial free trial?

In [75]:
%%sql
SELECT *,
    (CASE WHEN row_number = 2 AND price IS NOT NULL THEN 1
         WHEN row_number = 3 AND price IS NOT NULL THEN 2 END)
     
FROM (
    SELECT  *, 
            ROW_NUMBER () OVER(PARTITION BY customer_id  ORDER BY start_date)
    FROM foodie_fi.subscriptions
    JOIN foodie_fi.plans
    USING(plan_id)) t1

LIMIT 10

 * postgresql://postgres:***@localhost/sql_challenge
10 rows affected.

[(0, 1, datetime.date(2020, 8, 1), 'trial', Decimal('0.00'), 1, None),
 (1, 1, datetime.date(2020, 8, 8), 'basic monthly', Decimal('9.90'), 2, 1),
 (0, 2, datetime.date(2020, 9, 20), 'trial', Decimal('0.00'), 1, None),
 (3, 2, datetime.date(2020, 9, 27), 'pro annual', Decimal('199.00'), 2, 1),
 (0, 3, datetime.date(2020, 1, 13), 'trial', Decimal('0.00'), 1, None),
 (1, 3, datetime.date(2020, 1, 20), 'basic monthly', Decimal('9.90'), 2, 1),
 (0, 4, datetime.date(2020, 1, 17), 'trial', Decimal('0.00'), 1, None),
 (1, 4, datetime.date(2020, 1, 24), 'basic monthly', Decimal('9.90'), 2, 1),
 (4, 4, datetime.date(2020, 4, 21), 'churn', None, 3, None),
 (0, 5, datetime.date(2020, 8, 3), 'trial', Decimal('0.00'), 1, None)]

In [88]:
%%sql
WITH ordered as ( 
        SELECT  *, 
            ROW_NUMBER () OVER(PARTITION BY customer_id  ORDER BY start_date)
        FROM foodie_fi.subscriptions
        JOIN foodie_fi.plans
        USING(plan_id)
        ),
    ordered2 as (   
        SELECT *,
            CASE WHEN row_number = 2 AND price IS NOT NULL THEN 1
                WHEN row_number = 3 AND price IS NOT NULL THEN 2 END
        FROM ordered
        ),
    ordered3 as (
        SELECT plan_name, count(*) as numb, (SELECT COUNT(*) as total FROM ordered) 
        FROM ordered2 WHERE "case" IS NOT NULL AND "case" = 1 
        GROUP BY plan_name
    )

SELECT  plan_name, 
        numb, 
        ROUND((numb::DECIMAL / total::DECIMAL)  * 100) as perct 
FROM ordered3

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('basic monthly', 546, Decimal('21')),
 ('pro annual', 37, Decimal('1')),
 ('pro monthly', 325, Decimal('12'))]

In [91]:
%%sql
WITH ordered AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY start_date) AS row_number
    FROM foodie_fi.subscriptions
    JOIN foodie_fi.plans USING (plan_id)
)
SELECT plan_name,
       COUNT(*) AS numb,
       ROUND((COUNT(*)::DECIMAL / (SELECT COUNT(*) FROM ordered)) * 100) AS perct
FROM ordered
WHERE row_number = 2 AND price IS NOT NULL
GROUP BY plan_name;

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('basic monthly', 546, Decimal('21')),
 ('pro annual', 37, Decimal('1')),
 ('pro monthly', 325, Decimal('12'))]

7. What is the customer count and percentage breakdown of all 5 plan_name values at 2020-12-31?

In [8]:
%%sql
SELECT plan_name, COUNT(*) COUNT(*)/
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
WHERE start_date <= '20201231'
GROUP BY plan_name
ORDER BY plan_name

 * postgresql://postgres:***@localhost/sql_challenge
5 rows affected.

[('basic monthly', 538),
 ('churn', 236),
 ('pro annual', 195),
 ('pro monthly', 479),
 ('trial', 1000)]