In [4]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

In [4]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'foodie_fi'
ORDER BY 1

 * postgresql://postgres:***@localhost/sql_challenge
6 rows affected.

[('plans', 'plan_id', 'integer'),
 ('plans', 'price', 'numeric'),
 ('plans', 'plan_name', 'character varying'),
 ('subscriptions', 'customer_id', 'integer'),
 ('subscriptions', 'plan_id', 'integer'),
 ('subscriptions', 'start_date', 'date')]

In [4]:
%%sql
SELECT *
FROM foodie_fi.subscriptions
ORDER BY start_date DESC
LIMIT 10

 * postgresql://postgres:***@localhost/sql_challenge
10 rows affected.

[(975, 3, datetime.date(2021, 4, 30)),
 (472, 3, datetime.date(2021, 4, 30)),
 (83, 3, datetime.date(2021, 4, 29)),
 (776, 3, datetime.date(2021, 4, 29)),
 (59, 4, datetime.date(2021, 4, 29)),
 (219, 3, datetime.date(2021, 4, 29)),
 (42, 2, datetime.date(2021, 4, 28)),
 (90, 3, datetime.date(2021, 4, 28)),
 (424, 4, datetime.date(2021, 4, 28)),
 (780, 3, datetime.date(2021, 4, 27))]

In [5]:
%%sql
SELECT *
FROM foodie_fi.plans

 * postgresql://postgres:***@localhost/sql_challenge
5 rows affected.

[(0, 'trial', Decimal('0.00')),
 (1, 'basic monthly', Decimal('9.90')),
 (2, 'pro monthly', Decimal('19.90')),
 (3, 'pro annual', Decimal('199.00')),
 (4, 'churn', None)]

In [6]:
listA=[]
listB=[]
i=2000

while i<3000:
    listA.append(i)
    i+=4

for year in range(2000, 3001):
    if year%400==0:
        listB.append(year)
    elif year%4==0 and year%100!=0:
        listB.append(year)

set(listA).difference(set(listB))

Based off the 8 sample customers provided in the sample from the subscriptions table, write a brief description about each customerâ€™s onboarding journey.

Try to keep it as short as possible - you may also want to run some sort of join to make your explanations a bit easier!

In [7]:
%%sql
SELECT * 
FROM foodie_fi.subscriptions
JOIN foodie_fi.plans
USING(plan_id)
ORDER BY customer_id, start_date
LIMIT 10

 * postgresql://postgres:***@localhost/sql_challenge
10 rows affected.

[(0, 1, datetime.date(2020, 8, 1), 'trial', Decimal('0.00')),
 (1, 1, datetime.date(2020, 8, 8), 'basic monthly', Decimal('9.90')),
 (0, 2, datetime.date(2020, 9, 20), 'trial', Decimal('0.00')),
 (3, 2, datetime.date(2020, 9, 27), 'pro annual', Decimal('199.00')),
 (0, 3, datetime.date(2020, 1, 13), 'trial', Decimal('0.00')),
 (1, 3, datetime.date(2020, 1, 20), 'basic monthly', Decimal('9.90')),
 (0, 4, datetime.date(2020, 1, 17), 'trial', Decimal('0.00')),
 (1, 4, datetime.date(2020, 1, 24), 'basic monthly', Decimal('9.90')),
 (4, 4, datetime.date(2020, 4, 21), 'churn', None),
 (0, 5, datetime.date(2020, 8, 3), 'trial', Decimal('0.00'))]