In [2]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

In [4]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'foodie_fi'
ORDER BY 1

 * postgresql://postgres:***@localhost/sql_challenge
6 rows affected.

[('plans', 'plan_id', 'integer'),
 ('plans', 'price', 'numeric'),
 ('plans', 'plan_name', 'character varying'),
 ('subscriptions', 'customer_id', 'integer'),
 ('subscriptions', 'plan_id', 'integer'),
 ('subscriptions', 'start_date', 'date')]

In [4]:
%%sql
SELECT *
FROM foodie_fi.subscriptions
ORDER BY start_date DESC
LIMIT 10

 * postgresql://postgres:***@localhost/sql_challenge
10 rows affected.

[(975, 3, datetime.date(2021, 4, 30)),
 (472, 3, datetime.date(2021, 4, 30)),
 (83, 3, datetime.date(2021, 4, 29)),
 (776, 3, datetime.date(2021, 4, 29)),
 (59, 4, datetime.date(2021, 4, 29)),
 (219, 3, datetime.date(2021, 4, 29)),
 (42, 2, datetime.date(2021, 4, 28)),
 (90, 3, datetime.date(2021, 4, 28)),
 (424, 4, datetime.date(2021, 4, 28)),
 (780, 3, datetime.date(2021, 4, 27))]