In [1]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

Checking all the columns available in the tables

In [17]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'dannys_diner'
ORDER BY 1

 * postgresql://postgres:***@localhost/sql_challenge
8 rows affected.

[('members', 'customer_id', 'character varying'),
 ('members', 'join_date', 'date'),
 ('menu', 'price', 'integer'),
 ('menu', 'product_id', 'integer'),
 ('menu', 'product_name', 'character varying'),
 ('sales', 'order_date', 'date'),
 ('sales', 'customer_id', 'character varying'),
 ('sales', 'product_id', 'integer')]

# Case Study Questions

What is the total amount each customer spent at the restaurant?

In [36]:
%%sql
SELECT customer_id, SUM(price)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY customer_id
ORDER BY sum DESC

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('A', 76), ('B', 74), ('C', 36)]

How many days has each customer visited the restaurant?

In [43]:
%%sql
SELECT customer_id, COUNT(DISTINCT(order_date))
FROM dannys_diner.sales
GROUP BY customer_id
ORDER BY customer_id DESC

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('C', 2), ('B', 6), ('A', 4)]

What was the first item from the menu purchased by each customer?

In [70]:
%%sql
SELECT s.customer_id, s.order_date, product_name
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
WHERE order_date = (SELECT MIN(order_date) FROM dannys_diner.sales)
ORDER BY customer_id

 * postgresql://postgres:***@localhost/sql_challenge
5 rows affected.

[('A', datetime.date(2021, 1, 1), 'sushi'),
 ('A', datetime.date(2021, 1, 1), 'curry'),
 ('B', datetime.date(2021, 1, 1), 'curry'),
 ('C', datetime.date(2021, 1, 1), 'ramen'),
 ('C', datetime.date(2021, 1, 1), 'ramen')]

What is the most purchased item on the menu and how many times was it purchased by all customers?

In [77]:
%%sql
SELECT product_name, COUNT(*)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY product_name
ORDER BY count DESC
LIMIT 1

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[('ramen', 8)]

Which item was the most popular for each customer?

In [104]:
%%sql
SELECT customer_id, product_name, count
FROM(
SELECT customer_id, product_name, COUNT(*)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY customer_id, product_name
ORDER BY count DESC) as sq
-- GROUP BY customer_id, product_name

 * postgresql://postgres:***@localhost/sql_challenge
7 rows affected.

[('C', 'ramen', 3),
 ('A', 'ramen', 3),
 ('B', 'ramen', 2),
 ('A', 'curry', 2),
 ('B', 'sushi', 2),
 ('B', 'curry', 2),
 ('A', 'sushi', 1)]

In [6]:
%%sql
SELECT 
    s.customer_id, 
    m.product_name, 
    COUNT(*) AS count, 
    ROW_NUMBER() OVER (PARTITION BY s.customer_id ORDER BY COUNT(*) DESC) AS rn
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING (product_id)
GROUP BY s.customer_id, m.product_name

 * postgresql://postgres:***@localhost/sql_challenge
7 rows affected.

[('A', 'ramen', 3, 1),
 ('A', 'curry', 2, 2),
 ('A', 'sushi', 1, 3),
 ('B', 'sushi', 2, 1),
 ('B', 'curry', 2, 2),
 ('B', 'ramen', 2, 3),
 ('C', 'ramen', 3, 1)]

In [108]:
%%sql
SELECT customer_id, product_name, count
FROM (
  SELECT 
    s.customer_id, 
    m.product_name, 
    COUNT(*) AS count, 
    ROW_NUMBER() OVER (PARTITION BY s.customer_id ORDER BY COUNT(*) DESC) AS rn
  FROM dannys_diner.sales AS s
  JOIN dannys_diner.menu AS m
  USING (product_id)
  GROUP BY s.customer_id, m.product_name
) AS subquery
WHERE rn = 1
ORDER BY customer_id;

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('A', 'ramen', 3), ('B', 'sushi', 2), ('C', 'ramen', 3)]

Alternative method of solving

In [111]:
%%sql
WITH customer_product_count AS (
    SELECT customer_id, product_name, COUNT(*) AS product_count
    FROM dannys_diner.sales AS S
    JOIN dannys_diner.menu AS M
    USING (product_id)
    GROUP BY customer_id, product_name
)
SELECT customer_id, 
       (SELECT product_name 
        FROM customer_product_count 
        WHERE customer_id = C.customer_id 
        ORDER BY product_count DESC
        LIMIT 1) AS most_ordered_product
FROM customer_product_count AS C
GROUP BY customer_id;

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('B', 'sushi'), ('C', 'ramen'), ('A', 'ramen')]

Which item was purchased first by the customer after they became a member?

In [17]:
%%sql
SELECT  customer_id, product_name, join_date, order_date
    FROM(
    SELECT 
        customer_id, 
        product_name, 
        join_date, 
        order_date,
        ROW_NUMBER() OVER (PARTITION BY s.customer_id ORDER BY order_date) AS rn
    FROM dannys_diner.sales AS s
    JOIN dannys_diner.menu AS mn
    USING(product_id)
    JOIN dannys_diner.members AS mb
    USING(customer_id)
    WHERE order_date >= join_date) AS subquery
WHERE rn=1

 * postgresql://postgres:***@localhost/sql_challenge
2 rows affected.

[('A', 'curry', datetime.date(2021, 1, 7), datetime.date(2021, 1, 7)),
 ('B', 'sushi', datetime.date(2021, 1, 9), datetime.date(2021, 1, 11))]

Which item was purchased just before the customer became a member?

What is the total items and amount spent for each member before they became a member?

If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi - how many points do customer A and B have at the end of January?