In [3]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%%sql
SELECT * 
FROM dannys_diner.sales

 * postgresql://postgres:***@localhost/sql_challenge
15 rows affected.

[('A', datetime.date(2021, 1, 1), 1),
 ('A', datetime.date(2021, 1, 1), 2),
 ('A', datetime.date(2021, 1, 7), 2),
 ('A', datetime.date(2021, 1, 10), 3),
 ('A', datetime.date(2021, 1, 11), 3),
 ('A', datetime.date(2021, 1, 11), 3),
 ('B', datetime.date(2021, 1, 1), 2),
 ('B', datetime.date(2021, 1, 2), 2),
 ('B', datetime.date(2021, 1, 4), 1),
 ('B', datetime.date(2021, 1, 11), 1),
 ('B', datetime.date(2021, 1, 16), 3),
 ('B', datetime.date(2021, 2, 1), 3),
 ('C', datetime.date(2021, 1, 1), 3),
 ('C', datetime.date(2021, 1, 1), 3),
 ('C', datetime.date(2021, 1, 7), 3)]