In [3]:
%load_ext sql
%sql postgresql://postgres:password@localhost/sql_challenge

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Checking all the columns available in the tables

In [17]:
%%sql
SELECT table_name, column_name, data_type
FROM information_schema.columns
WHERE table_schema = 'dannys_diner'
ORDER BY 1

 * postgresql://postgres:***@localhost/sql_challenge
8 rows affected.

[('members', 'customer_id', 'character varying'),
 ('members', 'join_date', 'date'),
 ('menu', 'price', 'integer'),
 ('menu', 'product_id', 'integer'),
 ('menu', 'product_name', 'character varying'),
 ('sales', 'order_date', 'date'),
 ('sales', 'customer_id', 'character varying'),
 ('sales', 'product_id', 'integer')]

# Case Study Questions

What is the total amount each customer spent at the restaurant?

In [36]:
%%sql
SELECT customer_id, SUM(price)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY customer_id
ORDER BY sum DESC

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('A', 76), ('B', 74), ('C', 36)]

How many days has each customer visited the restaurant?

In [43]:
%%sql
SELECT customer_id, COUNT(DISTINCT(order_date))
FROM dannys_diner.sales
GROUP BY customer_id
ORDER BY customer_id DESC

 * postgresql://postgres:***@localhost/sql_challenge
3 rows affected.

[('C', 2), ('B', 6), ('A', 4)]

What was the first item from the menu purchased by each customer?

In [70]:
%%sql
SELECT s.customer_id, s.order_date, product_name
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
WHERE order_date = (SELECT MIN(order_date) FROM dannys_diner.sales)
ORDER BY customer_id

 * postgresql://postgres:***@localhost/sql_challenge
5 rows affected.

[('A', datetime.date(2021, 1, 1), 'sushi'),
 ('A', datetime.date(2021, 1, 1), 'curry'),
 ('B', datetime.date(2021, 1, 1), 'curry'),
 ('C', datetime.date(2021, 1, 1), 'ramen'),
 ('C', datetime.date(2021, 1, 1), 'ramen')]

What is the most purchased item on the menu and how many times was it purchased by all customers?

In [77]:
%%sql
SELECT product_name, COUNT(*)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY product_name
ORDER BY count DESC
LIMIT 1

 * postgresql://postgres:***@localhost/sql_challenge
1 rows affected.

[('ramen', 8)]

Which item was the most popular for each customer?

In [85]:
%%sql
SELECT customer_id, product_name, COUNT(*)
FROM dannys_diner.sales AS s
JOIN dannys_diner.menu AS m
USING(product_id)
GROUP BY customer_id, product_name
ORDER BY count DESC

 * postgresql://postgres:***@localhost/sql_challenge
7 rows affected.

[('C', 'ramen', 3),
 ('A', 'ramen', 3),
 ('B', 'ramen', 2),
 ('A', 'curry', 2),
 ('B', 'sushi', 2),
 ('B', 'curry', 2),
 ('A', 'sushi', 1)]