In [1]:
import sqlite3
%load_ext sql

In [2]:
%sql postgresql://postgres:password@localhost:5432/sql_challenge

## Data cleaning

In [3]:
%%sql
DROP TABLE IF EXISTS clean_pizza_recipes;

SELECT pizza_id, UNNEST(STRING_TO_ARRAY(toppings, ',')) AS toppings
INTO clean_pizza_recipes
FROM pizza_recipes;

SELECT *
FROM clean_pizza_recipes;

 * postgresql://postgres:***@localhost:5432/sql_challenge
Done.
14 rows affected.
14 rows affected.

[(1, '1'),
 (1, ' 2'),
 (1, ' 3'),
 (1, ' 4'),
 (1, ' 5'),
 (1, ' 6'),
 (1, ' 8'),
 (1, ' 10'),
 (2, '4'),
 (2, ' 6'),
 (2, ' 7'),
 (2, ' 9'),
 (2, ' 11'),
 (2, ' 12')]

In [4]:
%%sql

DROP TABLE IF EXISTS clean_customer_orders;

SELECT order_id, customer_id, pizza_id, 
  CASE 
    WHEN exclusions LIKE 'null' OR exclusions LIKE '' THEN NULL
    ELSE exclusions
    END AS exclusions,
  CASE 
    WHEN extras LIKE 'null' OR extras LIKE '' THEN NULL
    ELSE extras 
    END AS extras, 
  order_time
INTO clean_customer_orders
FROM customer_orders;

SELECT *
FROM clean_customer_orders;

 * postgresql://postgres:***@localhost:5432/sql_challenge
Done.
14 rows affected.
14 rows affected.

[(1, 101, 1, None, None, datetime.datetime(2020, 1, 1, 18, 5, 2)),
 (2, 101, 1, None, None, datetime.datetime(2020, 1, 1, 19, 0, 52)),
 (3, 102, 1, None, None, datetime.datetime(2020, 1, 2, 23, 51, 23)),
 (3, 102, 2, None, None, datetime.datetime(2020, 1, 2, 23, 51, 23)),
 (4, 103, 1, '4', None, datetime.datetime(2020, 1, 4, 13, 23, 46)),
 (4, 103, 1, '4', None, datetime.datetime(2020, 1, 4, 13, 23, 46)),
 (4, 103, 2, '4', None, datetime.datetime(2020, 1, 4, 13, 23, 46)),
 (5, 104, 1, None, '1', datetime.datetime(2020, 1, 8, 21, 0, 29)),
 (6, 101, 2, None, None, datetime.datetime(2020, 1, 8, 21, 3, 13)),
 (7, 105, 2, None, '1', datetime.datetime(2020, 1, 8, 21, 20, 29)),
 (8, 102, 1, None, None, datetime.datetime(2020, 1, 9, 23, 54, 33)),
 (9, 103, 1, '4', '1, 5', datetime.datetime(2020, 1, 10, 11, 22, 59)),
 (10, 104, 1, None, None, datetime.datetime(2020, 1, 11, 18, 34, 49)),
 (10, 104, 1, '2, 6', '1, 4', datetime.datetime(2020, 1, 11, 18, 34, 49))]

In [5]:
%%sql

DROP TABLE IF EXISTS clean_runner_orders;

SELECT order_id, runner_id,
  CASE 
    WHEN pickup_time LIKE 'null' OR pickup_time LIKE '' THEN NULL
    ELSE pickup_time 
    END AS pickup_time,
  CASE 
    WHEN distance LIKE 'null' OR distance LIKE '' THEN NULL
    WHEN distance LIKE '%km' THEN TRIM('km' from distance) 
    ELSE distance END AS distance,
  CASE 
    WHEN duration LIKE 'null' OR duration LIKE '' THEN NULL 
    WHEN duration LIKE '%mins' THEN TRIM('mins' from duration) 
    WHEN duration LIKE '%minute' THEN TRIM('minute' from duration)        
    WHEN duration LIKE '%minutes' THEN TRIM('minutes' from duration)       
    ELSE duration END AS duration,
  CASE 
    WHEN cancellation LIKE 'null' OR cancellation LIKE '' THEN NULL
    ELSE cancellation END AS cancellation
INTO clean_runner_orders
FROM runner_orders;

ALTER TABLE clean_runner_orders
ALTER COLUMN pickup_time TYPE TIMESTAMP USING pickup_time::timestamp,
ALTER COLUMN distance TYPE FLOAT USING distance::double precision,
ALTER COLUMN duration TYPE INT USING duration::integer;

SELECT *
FROM clean_runner_orders;

 * postgresql://postgres:***@localhost:5432/sql_challenge
Done.
10 rows affected.
Done.
10 rows affected.

[(1, 1, datetime.datetime(2020, 1, 1, 18, 15, 34), 20.0, 32, None),
 (2, 1, datetime.datetime(2020, 1, 1, 19, 10, 54), 20.0, 27, None),
 (3, 1, datetime.datetime(2020, 1, 3, 0, 12, 37), 13.4, 20, None),
 (4, 2, datetime.datetime(2020, 1, 4, 13, 53, 3), 23.4, 40, None),
 (5, 3, datetime.datetime(2020, 1, 8, 21, 10, 57), 10.0, 15, None),
 (6, 3, None, None, None, 'Restaurant Cancellation'),
 (7, 2, datetime.datetime(2020, 1, 8, 21, 30, 45), 25.0, 25, None),
 (8, 2, datetime.datetime(2020, 1, 10, 0, 15, 2), 23.4, 15, None),
 (9, 2, None, None, None, 'Customer Cancellation'),
 (10, 1, datetime.datetime(2020, 1, 11, 18, 50, 20), 10.0, 10, None)]

# Pizza Metrics

1. How many pizzas were ordered?

In [6]:
%%sql
SELECT COUNT(*)
FROM clean_customer_orders;

 * postgresql://postgres:***@localhost:5432/sql_challenge
1 rows affected.

[(14,)]

14 Pizzas were ordered

2. How many unique customer orders were made?

In [8]:
%%sql
SELECT customer_id, COUNT(*)
FROM clean_customer_orders
GROUP BY customer_id;

 * postgresql://postgres:***@localhost:5432/sql_challenge
5 rows affected.

[(101, 3), (103, 4), (104, 3), (105, 1), (102, 3)]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql